ion-content.sign-up-bg-1::part(background) {
  background: url("../../../assets/images/sign-up-bg-1.jpg") no-repeat center
    center / cover;
  filter: grayscale(12%) invert(24%);
  -webkit-filter: grayscale(12%) invert(24%);
  -moz-filter: grayscale(12%) invert(24%);
}
ion-content.sign-up-bg-2::part(background) {
  background: url("../../../assets/images/sign-up-bg-2.jpg") no-repeat center
    center / cover;
  filter: grayscale(12%) invert(24%);
  -webkit-filter: grayscale(12%) invert(24%);
  -moz-filter: grayscale(12%) invert(24%);
}
ion-content.sign-up-bg-3::part(background) {
  background: url("../../../assets/images/sign-up-bg-3.jpg") no-repeat center
    center / cover;
  filter: grayscale(12%) invert(24%);
  -webkit-filter: grayscale(12%) invert(24%);
  -moz-filter: grayscale(12%) invert(24%);
}
ion-content.sign-up-bg-4::part(background) {
  background: url("../../../assets/images/sign-up-bg-4.jpg") no-repeat center
    center / cover;
  filter: grayscale(12%) invert(24%);
  -webkit-filter: grayscale(12%) invert(24%);
  -moz-filter: grayscale(12%) invert(24%);
}

ion-grid {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}

ion-button.social {
  --border-radius: 50%;
  --background: #ffffff;
  --background-activated: #ffffff;
  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 10px;

  ion-icon[name='logo-google'] {
    color: #4285F4;
  }
  ion-icon[name='logo-facebook'] {
    color: #3b5998;
  }
    ion-icon[name='logo-apple'] {
    color: #000000;
  }
}
