<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/home">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="outfits" href="/outfits">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Outfits</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wardrobe" href="/wardrobe">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Ropero</ion-label>
    </ion-tab-button>

    <!-- TODO: Show if current Device ID is the same as the one saved on user (registered by sign up) -->
    <!-- <ion-tab-button tab="profile" href="/profile">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Account/Settings</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>
