<ion-content [fullscreen]="true" class="ion-padding">
  <div class="sign-in-container">
    <header>
      <ion-img [src]="'assets/logo/outfitme-text.svg'" alt="Outifme Logo Text"></ion-img>
      <h4 style="text-align: center;">¡Bienvenido de regreso!</h4>
    </header>
    <form [model]="user" [suite]="userSuite" #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <label inputWrapper>
        <ion-input type="email" placeholder="Correo electrónico" name="email" [(ngModel)]="user.email"></ion-input>
      </label>
      <label inputWrapper>
        <ion-input type="password" placeholder="Contraseña" name="password" [(ngModel)]="user.password"></ion-input>
      </label>
      <!-- TODO: Show Forgot Password -->

      <ion-button type="submit" id="open-loading" color="secondary" [disabled]="loginForm.invalid">Ingresar</ion-button>
      <ion-loading class="custom-loading" trigger="open-loading" message="Iniciando sesión..." [isOpen]="isLoading"></ion-loading>
      <div class="divider-text">Ó</div>
  
      <!-- TODO: Create shared component for social providers -->
      <div class="social-providers">
        <ion-button class="social google">
          <ion-icon slot="icon-only" name="logo-google"></ion-icon>
        </ion-button>
        <ion-button class="social facebook">
          <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button class="social apple">
          <ion-icon slot="icon-only" name="logo-apple"></ion-icon>
        </ion-button>
      </div>

      <h6 style="text-align: center;">
        ¿Aún no eres miembro? <a [routerLink]="['/sign-up']" routerLinkActive="router-link-active" style="text-decoration: none; color: var(--ion-color-secondary);">Registrate</a>
      </h6>
    </form>
  </div>
</ion-content>
