ion-content.sign-up-bg-1::part(background) {
  background: url("../../assets/images/sign-up-bg-1.jpg") no-repeat center
    center / cover;
  filter: grayscale(12%) invert(24%);
  -webkit-filter: grayscale(12%) invert(24%);
  -moz-filter: grayscale(12%) invert(24%);
}
ion-content.sign-up-bg-2::part(background) {
  background: url("../../assets/images/sign-up-bg-2.jpg") no-repeat center
    center / cover;
  filter: grayscale(12%) invert(24%);
  -webkit-filter: grayscale(12%) invert(24%);
  -moz-filter: grayscale(12%) invert(24%);
}
ion-content.sign-up-bg-3::part(background) {
  background: url("../../assets/images/sign-up-bg-3.jpg") no-repeat center
    center / cover;
  filter: grayscale(12%) invert(24%);
  -webkit-filter: grayscale(12%) invert(24%);
  -moz-filter: grayscale(12%) invert(24%);
}
ion-content.sign-up-bg-4::part(background) {
  background: url("../../assets/images/sign-up-bg-4.jpg") no-repeat center
    center / cover;
  filter: grayscale(12%) invert(24%);
  -webkit-filter: grayscale(12%) invert(24%);
  -moz-filter: grayscale(12%) invert(24%);
}

ion-grid {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}
