<div class="sign-up-container">
    <header>
        <ion-button id="dismiss" (click)="modalController.dismiss();" fill="clear" color="tertiary">
            <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-img [src]="'assets/logo/outfitme-lens.svg'" alt="Outifme Logo Minimalist"></ion-img>
        <h4 style="text-align: center;">Genial que estés aquí, ¡comencemos creando tu cuenta!</h4>
    </header>

    <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
        <!-- Full Name -->
        <ion-item>
            <ion-input type="text" placeholder="Nombre completo" formControlName="fullName"></ion-input>
        </ion-item>
        <ng-container *ngIf="signUpForm.get('fullName')?.errors && signUpForm.get('fullName')?.touched && signUpForm.get('fullName')?.dirty">
            <ng-container *ngIf="signUpForm.get('fullName')?.hasError('required')">
                <ng-container [ngTemplateOutlet]="requiredTpl"></ng-container>
            </ng-container>
        </ng-container>
        <!-- Email -->
        <ion-item>
            <ion-input type="email" placeholder="Correo electrónico" formControlName="email"></ion-input>
        </ion-item>
        <ng-container *ngIf="signUpForm.get('email')?.errors && signUpForm.get('email')?.touched && signUpForm.get('email')?.dirty">
            <ng-container *ngIf="signUpForm.get('email')?.hasError('required')">
                <ng-container [ngTemplateOutlet]="requiredTpl"></ng-container>
            </ng-container>
            <ng-container *ngIf="signUpForm.get('email')?.hasError('email')">
               <ion-note>Ingrese un correo v válido</ion-note>
            </ng-container>
        </ng-container>
        <!-- Password -->
        <ion-item>
            <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
        </ion-item>
        <ng-container *ngIf="signUpForm.get('password')?.errors && signUpForm.get('password')?.touched && signUpForm.get('password')?.dirty">
            <ng-container *ngIf="signUpForm.get('password')?.hasError('required')">
                <ng-container [ngTemplateOutlet]="requiredTpl"></ng-container>
            </ng-container>
            <ng-container *ngIf="signUpForm.get('password')?.hasError('pattern')">
                <ion-note>
                    Debe contener mayúsculas, minúsculas y números
                </ion-note>
                <ion-note>
                    Debe contener al menos 8 caracteres
                </ion-note>
            </ng-container>            
        </ng-container>
        <!-- Confirm password -->
        <ion-item>
            <ion-input type="password" placeholder="Confirmar contraseña" formControlName="confirmPassword"></ion-input>
        </ion-item>
        <ng-container *ngIf="signUpForm.get('confirmPassword')?.errors && signUpForm.get('confirmPassword')?.touched && signUpForm.get('confirmPassword')?.dirty">
            <ng-container *ngIf="signUpForm.get('confirmPassword')?.hasError('required')">
                <ng-container [ngTemplateOutlet]="requiredTpl"></ng-container>
            </ng-container>
            <ng-container *ngIf="signUpForm.get('confirmPassword')?.hasError('mustMatch')">
                <ion-note>
                    Las contraseñas no coinciden
                </ion-note>
            </ng-container>
        </ng-container>
        <ion-checkbox formControlName="tos" style="font-size: 10;">Acepto los términos y condiciones</ion-checkbox>
        <ion-button type="submit" expand="block" color="secondary" [disabled]="signUpForm.invalid">
            Comenzar
        </ion-button>
        <ion-loading  message="Espere unos segundos..." [isOpen]="isLoading"></ion-loading>
    </form>
</div>

<ng-template #requiredTpl>
    <ion-note>Este campo es requerido</ion-note>
</ng-template>