<ng-container *ngIf="vm() as vm">
    <div class="sign-up-container">
        <header>
            <ion-button id="dismiss" (click)="modalController.dismiss();" fill="clear" color="tertiary">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
            <ion-img [src]="'assets/logo/outfitme-lens.svg'" alt="Outifme Logo Minimalist"></ion-img>
            <h4 style="text-align: center;">Genial que estés aquí, ¡comencemos creando tu cuenta!</h4>
        </header>

        <form [model]="vm.user" [suite]="userSuite" #signUpForm="ngForm" (ngSubmit)="onSubmit()">
            <!-- Full Name -->
            <label inputWrapper>
                <ion-input type="text" placeholder="Nombre completo" name="fullName" ngModel [(ngModel)]="vm.user.fullName"></ion-input>
            </label>
            <!-- Email -->
            <label inputWrapper>
                <ion-input type="text" placeholder="Correo electrónico" name="email" ngModel [(ngModel)]="vm.user.email"></ion-input>
            </label>
            <div ngModelGroup="passwords" inputWrapper>
                <!-- Password -->
                <label>
                    <ion-input type="password" placeholder="Contraseña" name="password" [(ngModel)]="vm.user.passwords.password"></ion-input>
                </label>
                <!-- Confirm password -->
                <label>
                    <ion-input type="password" placeholder="Confirmar contraseña" name="confirmPassword" [(ngModel)]="vm.user.passwords.confirmPassword"></ion-input>
                </label>
            </div>
            <ion-button type="submit" id="open-loading" color="secondary" [disabled]="signUpForm.invalid">Comenzar</ion-button>
            <ion-loading class="custom-loading" trigger="open-loading" message="Cargando..." [isOpen]="isLoading"></ion-loading>
        </form>
    </div>
</ng-container>
