@import 'src/styles/breakpoints.scss';

ion-content {
  --background: linear-gradient(
    to bottom,
    var(--ion-color-tertiary),
    var(--ion-color-secondary)
  );
}

.logo {
  width: 8em;
}

.profiles-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.profiles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}



ion-button {
    --background: transparent;
    --box-shadow: none;
    --ripple-color: transparent;

    &#add-profile {
      --background: var(--ion-color-tertiary);
      --color: white;
    }
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
