<ion-header class="ion-no-border">
  <header #headerEl class="ion-text-center" style="background-color: rgba(var(--ion-color-tertiary-rgb), 0.7);">
    <img src="assets/logo/lens-text-dark.svg" alt="Outfitme Logo" class="logo">
  </header>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="profiles-container">
    <section id="title" class="ion-text-center">
      <h3 style="color: white;">Perfiles</h3>
    </section>
    <section #profilesEl class="profiles-grid">
      <ng-container *ngFor="let profile of profilesService.profiles$ | async; trackBy:trackByFn">
        <div class="profile">
          <div class="profile-avatar">
            {{ profile.profileName | shortName }}
          </div>
          <div class="name">{{ profile.profileName }}</div>
        </div>
      </ng-container>
    </section>
    <section class="footer-container ion-text-center">
      <ion-button id="toggle-profiles" fill="clear">
        Administrar perfiles
      </ion-button>
    </section>
  </div>
</ion-content>

